@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    background-color: #1f1f1f !important;
}

/* VIDEOS */
#video-grid {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

video {
    padding: 0 !important;
    margin: 7px;
    display: block;
    flex: 1;
    object-fit: cover;
    max-width: 37rem;
    max-height: 25rem;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 25px;
    border: 2px solid #3d3d42;


}

.main {
    height: 100%;
    display: flex;
}

.mainVideos {
    flex-grow: 1;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTROLS */
.Controls_block {
    transform: translateY(10%) translateX(50%);
    opacity: 0.75;
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    z-index: 10;
    bottom: 10%;
    right: 50%;
}

.Controls_button {
    color: #fff !important;
    padding: 12px 18px;
}

.Controls_button:hover {
    background-color: #202020;
}

.leaveMeeting:hover {
    background-color: #A00000;
}

.leaveMeeting {
    background-color: #900000;
    color: #fff;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right {
    display: none;

}

/* CHAT WINDOW */
.showchat .active {
    background-color: #1f1f1f;
}

.showchat .header_chat {
    color: #f5f5f5;
    text-align: center;
    padding: 1.2rem;
    border-bottom: 2px solid #3d3d42;
}

.showchat .msg_window {
    font-size: 0.85rem;

    flex-grow: 1;
    overflow: auto;
    padding: 20px 0 20px 0;
}

.showchat .msg_container {
    padding: 22px 11px;
    display: flex;
    border-top: 1px solid #3d3d42;
}

.showchat .msg_container input {

    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
    user-select: none;
    outline: none;
}

.showchat #all_msgs li.otherUser {
    width: 75%;
    margin: 2%;
    background-color: #292929;
    color: #fff;
    list-style: none;
    border: 1px solid #3d3d42;
    padding: 14px 10px 0px;
}

.showchat #all_msgs li.Me {
    width: 75%;
    margin: 10px 10px 10px 0px;
    margin-left: 23%;
    background-color: #323348;
    color: #fff;
    list-style: none;
    border: 1px solid #3d3d42;
    padding: 14px 10px 0;
}


.showchat .right {
    flex: 0.35;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3d3d42;
    display: flex;
    width: 30%;
    height: 100%;
}

.showchat .left {
    flex: 1;
}


/* RECORD */
.record-option {
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
}

.record-option:hover {
    color: #282828;
}

.custom-modal {

    display: none;
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
    overflow: auto;
    color: #696969;
}


.custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #17a2b8;
}

.custom-modal #record-video {
    cursor: pointer;
}

.custom-modal #record-screen {
    cursor: pointer;
}

.colored {
    color: #323348;
}

#closeModal {
    margin-top: 10px;
}


/* INVITE PARTICIPANTS AND SHARE LINK */
.participants {
    min-width: 20rem;
    text-align: center;
    opacity: 0.9;
    display: none;
    position: fixed;
    z-index: 20000;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    overflow: auto;
    background-color: #303030;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
}

.participants table {
    color: #fff;
}

.table th {
    border: none;
}

h4{
    margin: 1.5rem 2rem 1rem;
}
.invitePop{
    margin-bottom: 2rem;
}

.invitePop i{
font-size: 1.5rem;
margin-left: 0.5rem;
cursor: pointer;
}